.form_body{
	width: 50%;
	margin: 50px auto;
	box-shadow: 0px 0px 10px #ccc;
	box-sizing: border-box;
	padding: 20px;
}
.view_body{
	width: 70%;
	margin: 50px auto;
	box-shadow: 0px 0px 10px #ccc;
	box-sizing: border-box;
	padding: 20px;
}